/* Geral */
html,
body {
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    background-color: #d6efe5;
}

body {
    flex: 1;
}

/* Menu e logótipo */
.circulo,
.semi-circle {
    text-align: center;
    background-color: #e8d1ba;
    border-radius: 0 0 50px 50px;
}

.circulo {
    padding: 20px;
    position: relative;
    margin-top: -20px;
}


.circulo a,
.semi-circle a {
    text-decoration: none;
}

.logo-center {

    margin-top: 2%;
}

nav {
    margin: 20px;
    
}

nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(253, 133, 53);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav ul li a.active {
    font-weight: bold;
    color: #532b02;
}

nav ul li a:hover {
    color: #Ff9933;
    
}

/* Carrossel */
.carousel-inner {
    border-radius: 0 0 50px 50px;
    overflow: hidden;
}

.carousel-inner .item img {
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 0;
    color: #FFFFFF;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    border-radius: 0 0 50px 50px;
}

/* Texto personalizado por cima de cada slide do carrossel */
.carousel-caption-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF; /* Agora sim branco certo */
    text-align: center;
    padding: 15px 0;
    font-size: 100px;
    font-weight: 900;
    z-index: 10;
}





/* Footer */
footer {
    background-color: #e8d1ba;
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

footer section {
    flex: 1 1 200px;
    margin: 10px 15px;
    
    
}

footer h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #Ff9933;
    font-weight: bold;
}

footer p,
footer a {
    font-size: 15px;
    line-height: 1.8;
    color: rgb(253, 133, 53);
    text-decoration: none;
}

footer a:hover {
    color: #Ff9933;
}

footer img {
    display: block;
    margin: 10 auto 10px auto;
    max-width: 100%;
    height: auto;
}
footer section img {
    display: inline-block; 
    margin: 0 5px; 
    vertical-align: middle; 

    
}
.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;

}
.redes-sociais img:hover {
    transform: scale(1.5);
}

/* Responsivo para footer */
@media (max-width: 768px) {
    footer div {
        flex-direction: column;
        align-items: center;
    }

    footer section {
        text-align: center;
    }
}

/* Container principal Contactos */
.container-map {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto;
    padding: 30px;
    max-width: 1900px;
    background-color: #e8d1ba;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Mapa */
.container-map .map {
    flex: 1 1 60%;
    padding: 20px;
    text-align: center;
}

.container-map iframe {
    width: 600px; 
    height: 500px; 
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.container-map .text {
    padding: 20px;
    margin-bottom: 0;
    font-size: 10px;
}

.container-map a{
    color: #000000;
    text-decoration: none;
}

.container-map p{
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}
.container-map h3{
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container-map iframe {
        width: 100%; /* Adapta o mapa à largura da tela */
        height: auto; 
    }

    .container-map .text {
        font-size: 14px; /* Reduz levemente a fonte */
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    .container-map iframe {
        width: 100%; /* Preenche a largura do dispositivo */
        height: auto; /* Altura proporcional */
    }

    .container-map .text {
        font-size: 13px; 
        padding: 10px; 
    }
}

/* Imagens Incons do index.html */
.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
}

/* Cada ícone */
.icon {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 50px;
}

.legenda {
    font-size: 13px;
    margin-top: 8px;
    color: #0a0a0a;
    font-weight: bold;
}

/* Imagens */
.icon img {
    width: 80px;
    height: 80px;
    border: 2px solid #Ff9933; /* Borda laranja */
    border-radius: 8px;
    background-color: #fff7ef;
    box-shadow: 0 4px 8px rgba(94, 18, 18, 0.2);
    transition: transform 0.3s ease;
}

/* Efeito ao passar o rato */
.icon img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    /* Ajuste no container dos ícones para se adaptar a telas pequenas */
    .icon-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .icon {
        margin: 10px 0;/
    }

    .icon img {
        width: 60px;
        height: 60px;
    }
}


/* Areassssssss */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 12px;
}

.column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #e8d1ba;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.column:nth-child(even) {
    flex-direction: row-reverse;
}

.column:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.column img {
    flex: 1;
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column .text-overlay {
    flex: 1;
    text-align: center;
    border-radius: 8px;
    font-size: 19px;
    color: #000000;
    line-height: 1.6;
    display: inline-block;
    flex-direction: column;
    background-color: #fbf7f4;
}

.column h3 {
    font-size: 20px;
    color: #080808;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}
.column p{

    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

.text-overlay img {
    transition: transform 0.3s ease;
}

.text-overlay img:hover {
    transform: scale(2);
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .column {
        flex-direction: column !important; /* Força a direção para coluna */
        text-align: center;
    }

    .column img {
        order: -1; /* Move a imagem para o topo */
        max-width: 100%;
        margin-bottom: 20px;
    }

    .column .text-overlay {
        order: 1; /* Mantém o texto abaixo da imagem */
    }
}



/*Textos Inicio*/
.o-que-fazemos {
    text-align: left;
    margin: 10px auto;
    margin-bottom: 20px;
}

.o-que-fazemos h2 {
    text-align: center;
    color: #ff8800;
    margin-bottom: 20px;
}

.o-que-fazemos ul {
    list-style-type: disc;
    padding-left: 40px;
}

.o-que-fazemos li {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: #333;
}

.quem-somos {
    text-align: center;
    padding: 10px 20px;
    margin: 1px auto;
    max-width: 1000px;
}

.quem-somos h2 {
    color: #ff8800;
    margin-bottom: 20px;
    font-size: 28px;
}

.quem-somos p {
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}